
<div class="container mt-5">
  <h1 class="mb-3 textLeft">Documents</h1>
  <table  class="table table-hover table-bordered" *ngIf="documentData.length != 0; else noEmployee">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Upload Date</th>

        <th><i>View</i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documentData">
        <td>{{ document.id }}</td>
        <td>{{ document.fileName }}</td>
        <td>{{ document.fileType }}</td>
        <td>{{ filter_date(document.uploadDate) }}</td>


        <td>
          <button class="btn btn-light" [routerLink]="['/document', 'view', document.id]">View <strong>{{ document.fileName  }}</strong></button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noEmployee>
    <div class="textLeft">No Documents Found . . . </div>
  </ng-template>
</div>

